.contenedorGrande {
    // background: rgba(0, 0, 0, 0.1);
    padding: 3rem;
    h1 {
        text-align: center;
        color: rgba(0, 0, 0, 0.2);
        font-size: 6rem;
    }
    .cont {
        display: flex;
        flex-flow: row wrap;
        background: #fff;
        border-radius: .5rem;
        box-sizing: border-box;
        padding: .5rem;
        .contImg{
            display: flex;
            flex-direction: column;
            width: 8%;
            img{
                border-radius: .5rem;
                border: 1px solid rgb(177, 177, 177);
                margin: .3rem 0;
                &:hover{
                    border: 1px solid rgba(211, 13, 13, 0.521); ;
                }
            }
        }
        img{
            width: 50%;
            margin: 0 4.5rem;
        }
        .contDetail {
            width: 30%;
            box-sizing: border-box;
            border-radius: .5rem;
            border: 1px solid rgb(177, 177, 177);
            padding: 1rem;
            h2{
                font-size: 2.5rem;
                font-weight: 300;
                margin: 1rem 0;
            }
            h3{
                margin-bottom: .5rem;
                font-size: 1.7rem;
                font-weight: 400;
            }
            h5 {
                margin: 3rem 0;
            }
            h6{
                font-weight: 100;
                color: rgb(177, 177, 177);
            }
            .venta{
                width: auto;
                font-weight: 500;
                font-size: .8rem;
                margin-top: .5rem;
                padding: .2rem;
                background-color: rgb(211, 13, 13);
                color: #fff;
                border-radius: .3rem;
            }
            .productRating {
                margin-bottom: .5rem;
            }
            .productSize:before,
            .productSize:after {
                content: '';
                display: block;
                clear: both;
                margin-top: 1rem;
            }
            .talla {
                font-size: 1rem;
                font-weight: 500;
                // padding: 0 21px;
                margin-top: 15px;
                padding-bottom: 10px;
                text-transform: uppercase;
            }
            
            .ul_size {
                // margin-left: 15px;
                padding-left: 0;
            }
            
            .ul_size li {
                list-style: none;
                float: left;
                margin-right: 10px;
            }
            
            .ul_size li a {
                display: inline-block;
                text-decoration: none;
                font-weight: 300;
                font-size: 1rem;
                border: 1px solid rgba(177, 177, 177, 0.541);
                width: 30px;
                // height: 22px;
                padding: .4rem;
                border-radius: .3rem;
                text-align: center;
                line-height: 22px;
                color: #000;
                &:hover{
                    border: 1px solid rgba(211, 13, 13, 0.521);
                    color: rgba(211, 13, 13, 0.521);
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .contenedorGrande{
        padding: 1rem;
    }
}

@media (max-width: 1024px) {
    .contenedorGrande{
        .cont {
            img {
                width: 92%;
                margin: 0 1.5rem;
            }
            .contDetail{
                width: 100%;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1315px) {
    .contenedorGrande{
        .cont {
            justify-content: space-around;
            img {
                width: 50%;
                margin: 0 0.2rem;
            }
        }
    }
}