*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.card {
    border-radius: 1rem;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .8rem;
    box-shadow: 0 3px 7px 0 #58585871 ;
    // background-color: #f50057;
    color: rgb(99, 99, 99);
    box-sizing: border-box;
    text-decoration: none;
    &:hover{
        transform: scale(1.03);
        box-shadow: 0 6px 12px 0 #f500566e;
        transition: all ease-in .5s;
    }
    img{
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    }
    h2{
        text-align: right;
        // padding: 0 0 .2rem .5rem;
        font-weight: 400;
    }
    h3 {
        text-align: center;
        padding: 0 .5rem;
        font-weight: 100;
    }
    p{
        // color:#fff;
        font-size: .8rem;
        font-weight: 100;
        padding: 0 .5rem .5rem .5rem;
    }
    a{
        border: 1px solid #f50057;
        border-radius: .5rem;
        padding: .5rem;
        margin: .5rem;
        color: #f50057;
        font-weight: 500;
        text-align: center;
        width: 80%;
        &:hover{
            border: 1px solid #f50057;
            background-color: rgba(245, 0, 87, 0.04);
        }
    }
}