.backg{
    padding: .5rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    
};
.checkContainer {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 16px;
    max-width: 800px;
    margin-top: .5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.164);
    .root{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    .inputs{
        width: 100%;
        flex-flow: row wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dir{
        width: 50%;
    }
    .carrito{
        width: 45%;
        box-sizing: border-box;
        padding: 16px;
        margin-left: 4%;
        background-color: #e6e6e673;
        border-radius: 4px;
    }
    h3{
        margin-bottom: 1rem;
    }
    .total{
        display: flex;
        // flex-flow: column wrap;
        justify-content: space-around;
        padding: 10px 0;
        margin: 5px 0;
        background-color:  #e6e6e673;
        .price{
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
        }
    }
    .comprar{
        display: flex;
        justify-content: flex-end;
    }
}

.snack{
    top: 80px !important;
    position: absolute !important;
}
@media (max-width: 720px) {
    .checkContainer{
        .root{
            width: 100%;
        }
        .carrito{
            width: 100%;
            margin-top: 4%;
            margin-left: 0;
        }
    }
}